  <div class='my-3'>
    <div class='container'>
      <h1 class='pb-2 mb-4 fw-bold'>
        Your Adventure Awaits | Pay With Bitcoin
      </h1>

      <div class='row'>
        <% @products.each do |product| %>
          <% image_path = product.image.present? ? rails_blob_url(product.image) : image_path('wildlifeExperience.jpg') %>
          <%# extract this into partial %>
          <div class='col-12 col-sm-6 col-md-4'>
            <div class='tile'>
              <div
                class='tileImage'
                style="background-image: url(<%= image_path %>)"
              ></div>

              <div class='px-4 pb-4 tileText'>
                <div class='tileHeightWrapper'>
                  <p class='fs-6'>
                    <span class='badge rounded-pill <%= pill_class(product.category) %>'>
                      <%= product.category %>
                    </span>
                  </p>
                  <h3 class='mt-1 mb-2 fw-bold'>
                    <%= product.name %>
                  </h3>
                  <p class='opacity-75'>
                    <%= product.description %>
                  </p>
                </div>
                <div class='mb-4'>
                  <p class='fs-6 opacity-50 mt-4'>
                    <%# Price %>
                    <%# can fill in later with short blurb about pricing %>
                  </p>
                  <p class='fs-4 fw-bold'>
                    <%= product.formatted_price  %>
                    <%# # <span class='fs-5 fw-normal opacity-50'><del>${priceRetail}</del></span> %>
                  </p>
                </div>
                <% if product.variable_pricing? %>
                  <button
                    type="button"
                    class="btn btn-primary w-100"
                  >
                    Contact Info
                  </button>
                <% else %>
                  <%= render partial: 'btcpayserver_button', locals: {
                    amount: product.amount,
                    currency: product.store.currency
                  } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
