  <div class='my-3'>
    <div class='container'>
      <h1 class='pb-2 mb-4 fw-bold'>
        Your Adventure Awaits
      </h1>

      <div class='row'>
        <% @stores.each do |store| %>
          <% product = store.products.first %>
          <% image_path = image_path('wildlifeExperience.jpg') %>
          <%# extract this into partial %>
          <div class='col-4'>
            <div class='tile'>
              <div
                class='tileImage'
                style="background-image: url(<%= image_path %>)"
              /></div>

              <div class='px-4 pb-4 tileText'>
                <div class='tileHeightWrapper'>
                  <p class='fs-6'>
                    <%# make category (bg-danger) dynamic %>
                    <span class='badge rounded-pill bg-danger'>
                      <%= product.category %>
                    </span>
                  </p>
                  <h3 class='mt-1 mb-2 fw-bold'>
                    <%= store.name %>
                  </h3>
                  <p class='opacity-75'>
                    <%= product.description %>
                  </p>
                </div>
                <div class='mb-4'>
                  <p class='fs-6 opacity-50 mt-4'>
                    Price
                  </p>
                  <p class='fs-4 fw-bold'>
                    <%= product.amount.present? ? "#{"%.2f" % product.amount} #{store.currency}" : 'Contact for price'  %>
                    <%# change to use dynamic currency symbol %>
                    <%# # <span class='fs-5 fw-normal opacity-50'><del>${priceRetail}</del></span> %>
                  </p>
                </div>

                <button
                  type="button"
                  class="btn btn-primary w-100"
                >
                  Book Now
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%# add json metadata line with order id, we'll store product data %>
<%# either render json from btcpayserver or store orders on our server %>
<%# give ability in admin side to create invoice %>
<%# checkbox for variable pricing %>
<style> .btcpay-form { display: inline-flex; align-items: center; justify-content: center; } .btcpay-form--inline { flex-direction: row; } .btcpay-form--block { flex-direction: column; } .btcpay-form--inline .submit { margin-left: 15px; } .btcpay-form--block select { margin-bottom: 10px; } .btcpay-form .btcpay-custom-container{ text-align: center; }.btcpay-custom { display: flex; align-items: center; justify-content: center; } .btcpay-form .plus-minus { cursor:pointer; font-size:25px; line-height: 25px; background: #DFE0E1; height: 30px; width: 45px; border:none; border-radius: 60px; margin: auto 5px; display: inline-flex; justify-content: center; } .btcpay-form select { -moz-appearance: none; -webkit-appearance: none; appearance: none; color: currentColor; background: transparent; border:1px solid transparent; display: block; padding: 1px; margin-left: auto; margin-right: auto; font-size: 11px; cursor: pointer; } .btcpay-form select:hover { border-color: #ccc; } #btcpay-input-price { -moz-appearance: none; -webkit-appearance: none; border: none; box-shadow: none; text-align: center; font-size: 25px; margin: auto; border-radius: 5px; line-height: 35px; background: #fff; } #btcpay-input-price::-webkit-outer-spin-button, #btcpay-input-price::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } </style>
<form method="POST" onsubmit="onBTCPayFormSubmit(event);return false" action="https://btcpayserver.bitcoinjungle.app/api/v1/invoices" class="btcpay-form btcpay-form--block">
  <input type="hidden" name="storeId" value="BMztwyeDKHNwKCAYZ1DoaPnrKF9WsF9S2FtqvBa1SusE" />
  <input type="hidden" name="jsonResponse" value="true" />
  <div class="btcpay-custom-container">
    <%# update to use product price %>
    <input type="hidden" id="btcpay-input-price" name="price" type="number" min="1" step="1" value="5" style="width: 3em;" />
    <div> 5 </>
    <select name="currency">
      <%# update to use store currency %>
      <option value="USD" selected>USD</option>
    </select>
  </div>
  <input type="image" class="submit" name="submit" src="https://btcpayserver.bitcoinjungle.app/img/paybutton/pay.svg" style="width:209px" alt="Pay with BtcPay, Self-Hosted Bitcoin Payment Processor">
</form>
<script>
        if (!window.btcpay) {
            var script = document.createElement('script');
            script.src="https://btcpayserver.bitcoinjungle.app/modal/btcpay.js";
            document.getElementsByTagName('head')[0].append(script);
        }
        function onBTCPayFormSubmit(event) {
            event.preventDefault();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200 && this.responseText) {
                    window.btcpay.showInvoice(JSON.parse(this.responseText).invoiceId);
                }
            };
            xhttp.open('POST', event.target.getAttribute('action'), true);
            xhttp.send(new FormData(event.target));
        }
</script>